* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

body {
    background-color: #f0f0f0;
}

#Form {
    width: 100%;
    display: flex;
    justify-content: center;
    /* border: 2px solid red; */
}

#forms h1 {
    color: white;
}

#forms {
    width: 100%;
    height: 70px;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: darkcyan;
}

.zone {

    width: 50%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 40px 0px 0px 40px;
    text-align: center;
    font-size: 20px;

}


.ibtn {

    width: 45px;
    height: 45px;
    border: none;
    border-radius: 0px 40px 40px 0px;
    font-size: 20px;

}

.content {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: auto;


}

.data {
    width: 20%;
    padding: 20px;
    height: auto;
    margin: 4px 4px 20px 4px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: white;
}

.data .Img {
    width: 100%;
}

#LR {
    height: 40px;
    width: 10%;
}
.ReadMore{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
    justify-items: center;
    align-content: center;
}

.ReadMore:hover{
    background-color: black;
    color: white;
}

.LM{
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    background-color: darkcyan;
    width: 55px;
    height: 55px;
    font-size: 45px;
    color: white;
    border-radius: 50%;
    border: none;
    
}



@media screen and (max-width:768px) {

    .content{
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 20px;
    }
    .data{
        flex-direction: row;
        height: auto;
        width: 100%;
    }
    .data img{
        height:75px ;
    }

    .ReadMore{
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: none;
        cursor: pointer;
    }

    .ReadMore:hover{
        background-color: black;
        color: white;
    }
}

@media screen and (max-width:425px) {

    #forms {
        flex-direction: column;
        width: 100%;
        /* border: 4px solid red; */
        height: auto;
        gap: 10px;

    }

    #form {
        flex-direction: row;

        /* border: 4px solid red; */
        width: 1000%;
    }

    .zone {
        /* flex-basis: 400px; */
        width: 100%;
    }

    #LR {
        width: 30%;
        display: none;
    }



    .content {
        flex-direction: column;

        width: 100%;
        margin-top: 20px;
        width: 100%;
        /* border: 2px solid black; */
        padding: 20px;
    }

    .data {
        width: 98%;
        justify-content: center;
        flex-direction: column;
    }

    .ReadMore{
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: none;
        cursor: pointer;
    }

    .ReadMore:hover{
        background-color: black;
        color: white;
    }

}
